<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.profiledbapplication"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <permission
        android:name="android.permission.READ_DB"
        android:protectionLevel="dangerous" >
    </permission>
    <permission
        android:name="android.permission.WRITE_DB"
        android:protectionLevel="dangerous" >
    </permission>

    <application  
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        >
        <provider
            android:name="com.samsung.profiledbapplication.dbfiles.DbContentProvider"
            android:authorities="com.samsung.profiledbapplication.provider.DbContentProvider"
            android:readPermission="android.permission.READ_DB"
            android:writePermission="android.permission.WRITE_DB"
            android:exported="true"
             >
    	    >
        </provider>

        <activity
            android:name="com.samsung.profiledbapplication.activity.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN"/>
                    <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
    </application>
</manifest>